/**
 * Styles for Fusion Sidebar Extension
 */

.fsn-sidebar .widget	{
	margin-bottom:20px;
}

.fsn-sidebar .widget ul	{
	list-style:none;
	margin:0;
	padding:10px 0;
}
/*
     FILE ARCHIVED ON 20:48:16 Nov 09, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:33:14 Apr 05, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 232.078
  exclusion.robots: 0.111
  exclusion.robots.policy: 0.102
  RedisCDXSource: 0.68
  esindex: 0.01
  LoadShardBlock: 212.894 (3)
  PetaboxLoader3.datanode: 79.36 (4)
  CDXLines.iter: 16.281 (3)
  PetaboxLoader3.resolve: 185.067 (2)
  load_resource: 102.89
*/