:root {
    --lBlue: #2094f3;
    --dBlue: #2063f3;
    }

@media (max-width:991px) {
    header,
    header.sticky {
        padding: 20px 50px ;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: auto;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }

    header.sticky .toggle {
        filter: invert(1);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
        background-color: var(--dBlue);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
        background-color: var(--dBlue);
    }

    section {
        padding: 100px 50px;
    }

    .banner {
        padding: 150px 50px 100px;
    }

    .banner h2{
        font-size: 1.5em;
    }

    .banner h3 {
        font-size: 1em;
    }

    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .heading h2 {
            font-size: 24px;
    }

    .contentBx h3 {
        font-size: 20px;
    }

    .content {
        flex-direction: column;
    }

    .w50 {
        margin-bottom: 20px;
    }

    .situationsPro .content .situationsProBx {
        margin: 10px;
    }

    .veille .content .veilleBx {
        width: 100%;
        padding: 10px;
    }

    .contactInfo {
        margin: 20px 0;
    }
}

@media (max-width: 600px){
    header,
    header.sticky {
        padding: 20px 20px ;
    }

    .banner {
        padding: 150px 20px 100px;
    }

    section {
        padding: 100px 20px;
    }
}