section#skills {
    background: #111;
}

.skills-container{
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.skill-card{
    position: relative;
    display: flex;
    margin: 30px 0;
    width: 25%;
    max-width: 200px;
    justify-content: center;
}

.skill-img{
   max-width: 120px;
}

.skill-name{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;
}

.skill-info{
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level{
    position: absolute;
    top: 45%;
    right: 0;
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    border-radius: 50%;
    border: 6px solid;
}

.skill-card:nth-child(1) .skill-level{
    background: #e34c2628;
    border-color: #e34c26;
    color: #e34c26;
}

.skill-card:nth-child(2) .skill-level{
    background: #563d7c28;
    border-color: #563d7c;
    color: #563d7c;
}

.skill-card:nth-child(3) .skill-level{
    background: #f1e05a28;
    border-color: #f1e05a;
    color: #f1e05a;
}

.skill-card:nth-child(4) .skill-level{
    background: #84ba6428;
    border-color: #84ba64;
    color: #84ba64;
}

.skill-card:nth-child(5) .skill-level{
    background: #b0721928;
    border-color: #b07219;
    color: #b07219;
}