@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Variables globales */
:root {
--lBlue: #2094f3;
--dBlue: #1342a8;
}

/* Golbal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section {
    padding: 100px;
}

/* Bannière */
.banner {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("../assets/img/banner.jpg");
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn {
    position: relative;
    background: var(--lBlue);
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

/* Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 0 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    opacity: 0;
}

header.sticky .logo {
    color: #111;
    opacity: 1;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style-type: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a {
    color: #111;
}

header ul.menu li.active a::after,
header ul.menu li.active a::before {
    width: 100%;
    background: var(--dBlue); 
    color: var(--dBlue);
} 

header ul.menu li.active{
    color:#111;
}

header ul li a:hover {
    color: var(--dBlue);
    transition: 0.5s;
}

header ul li a:after,
header ul li a:before {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    margin: auto;
    background: transparent;
    transition: width .5s ease, background-color .4s ease;
}

header ul li a:hover:after,
header ul li a:focus:after {
  width: 100%;
  background: var(--dBlue); 
  color: var(--dBlue);
}

.hamburger {
    display: none;
}
  
.hamburger .bar:nth-child(2) {
    background-color: var(--dBlue);
}
  
.bar {
    display: block;
    width: 45px;
    height: 5px;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

header.sticky .bar:nth-child(2n+1) {
    background-color: #000;
}

header.sticky .hamburger.active .bar:nth-child(2n+1) {
    background-color: var(--dBlue);
}
  

/* Contenu */
.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contentBx h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.contentBx p {
    text-align: justify;
}

.w50 {
    min-width: 50%;
}

img {
    max-width: 100%;
}

/* Timeline */
.timelineContainer{
    background: #111;
}

.timeline{
    display: block;
    width: 80%;
    margin: 150px auto;
    /* background: #111; */
}

.timeline .heading{
    margin-bottom: 150px;
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: -80px 0;
    position: relative;
}



.card-title{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
}

.card:nth-child(2), .card:nth-child(2):before{
    background: #ff4f4f;
}
.card:nth-child(3), .card:nth-child(3):before{
    background: #ffb84f;
}
.card:nth-child(4), .card:nth-child(4):before{
    background: #3dca5c;
}
.card:nth-child(5), .card:nth-child(5):before{
    background: #565252;
}
.card:nth-child(6), .card:nth-child(6):before{
    background: #4fa0ff;
}

@media (min-width: 991px) {

    .card:nth-child(even){
        margin-left: auto;
    }

    /* Right side big dots */
    .card:nth-child(even):before{
        content: '';
        position: absolute;
        left: -14%;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 5px solid #111;
        border-radius: 50%;
        z-index: 2;
    }

    /* Right side dash */
    .card:nth-child(even):after{
        content: '';
        position: absolute;
        left: -8.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        height: 2px;
        background: #fff;
        z-index: 1;
    }

    /* Left side big dot */
    .card:nth-child(odd):before{
        content: '';
        position: absolute;
        right: -13%;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 5px solid #111;
        border-radius: 50%;
        z-index: 2;
    }

    /* Left side dash */
    .card:nth-child(odd):after{
        content: '';
        position: absolute;
        right: -8.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        height: 2px;
        background: #fff;
        z-index: 1;
    }

    /* Dash line */
    .card:nth-child(even) .card-body::before{
        content: '';
        position: absolute;
        left: -12%;
        top: 0;
        width: 0px;
        height: 150%;
        border: 1px dashed #fff;
        z-index: 1;
    }

    /* .card:nth-child(odd) .card-body::before{
        content: '';
        position: absolute;
        right: -12%;
        top: 0;
        width: 0px;
        height: 100%;
        border: 1px dashed #fff;
        z-index: 1;
    } */
}
    

    

/* Situations professionnelles */
.situationsPro {
    background: #111;
}

.heading.white {
    color: #fff;
}

.situationsPro .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.situationsPro .content .situationsProBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.situationsPro .content .situationsProBx:hover {
    background: var(--lBlue);
}

.situationsPro .content .situationsProBx img {
    max-width: 80px;
    filter: invert(1);
}

.situationsPro .content .situationsProBx h2 {
    font-size: 20px;
    font-weight: 600;
}

/* Veille technologique */
.veille .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.veille .content .veilleBx {
    width: 50%;
    padding: 20px;
}

.veille .content .veilleBx .img {
    max-width: 100%;
}

/* Contact */
.contactForm {
    background: #111;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.formBx form h3,
.contactInfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.formBx form input,
.formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
}

.formBx form textarea {
    min-height: 200px;
    resize: none;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #999;
}

.formBx form input[type="submit"] {
    max-width: 110px;
    background: var(--lBlue);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfoBx {
    position: relative;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon {
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: var(--lBlue);
    margin-bottom: 0;
}

.icon.adress {
    align-items: center !important;
}

.icon img {
    max-width: 20px;
}

/* Footer */
footer {
    background: #111;
    color: #fff;
    /* text-align: center; */
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer div p {
    opacity: 0.5;
}