.work {
    background: #111;

}

.heading.white {
    color: #fff;
}

.work .content {
   display: unset; 
}

.work h3 {
    color: #fff;
    text-align: center;
    text-decoration: underline;
}

.work p a, .work p a:visited {
    color: var(--lBlue);
}

a#syntheseE4 {
    text-decoration: none;
}

.work div.contentBx ~ div.contentBx {
    margin-top: 80px;
}

.work h2 ~ p {
    text-align: justify;
    margin-top: 20px;
    padding: 0 150px;
}

.work .acc-btn, 
.work .acc-content {
    color: #fff;
}

.acc-btn {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 25px 25px 35px;
    cursor: pointer;
    background: inherit;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.5s linear;
    border-bottom: 0px solid #fff;
    transition: border-bottom 0.3s ease-in-out;
}

.acc-btn:before {
    content: "\27A4";
    color: #fff;
    margin: 0 20px;
    float: left;
    transition: all 0.3s linear;
}

.acc-btn.is-open:before {
    transform: rotate(90deg);
    color: var(--lBlue);
}

.acc-btn.is-open {
    color: var(--lBlue);
    border-bottom: 1px solid #fff;
}

.acc-content {
    max-height: 0;
    padding: 0 0 0 35px;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    transition: max-height 0.3s ease-in-out;
    
}

.acc-content p {
    margin: 24px 0;
}
