body
{
    font-family: Verdana, Tahoma, sans-serif;
    /* font-size: 50vmax; */
}

header h1
{
    text-align: center;
}

.main_display 
{
    position: absolute;
    right: 10%;
    width: 80%;
    height: 900px;
}

.display_panel
{
    position: sticky;
    top: 45px;
    border: 1px solid black;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 90vh;
}

ul.nav_bar
{
    text-align: center;
    margin: 1px 1px 10px 1px;
    padding: 1px;
    position: sticky;
    top: 10px;
    /* border: 3px solid black; */
}

.nav_button
{
    position: relative;
    display: inline-block;
    width: 18%;
    /* padding: 1% 1%; */
    border: 1px solid black;
    border-radius: 20px;
    background: linear-gradient(0deg, #a7a3a3 0%, #ffffff 49%, #747272 100%);
}

.nav_button::before
{
    position: absolute;
    left: 5%;
    top: 27%;
    display: inline-block;
    background-image: url("../assets/icons/nav/led-blue-black.svg");
    background-repeat: no-repeat;
    content: "";
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
    /* opacity: 0.65; */
    /* border: 1px solid black; */
    
}

.nav_button:hover::before
{
    background-image: url("../assets/icons/nav/led-green-black.svg");
    opacity: 1;
}

.content
{
    text-align: justify;
}