@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0;
}

header h1
{
    text-align: center;
}

.main_display {
    /* position: absolute;
    right: 10%;
    width: 85%; */
    margin: 2%;
    /* height: 900px; */
    /* position: sticky; */
    /* top: 10px; */
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: sticky;
    top: 0;
    height: 35px;
    background-color: #218c74;
    color: #dddddd;
}


nav .profile{
    display: flex;
    align-items: center;
}

nav .profile h1{
    font-size: 20px;
    margin: 0;
}


nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    height: 100%;
}

nav li{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
    }

    nav li:last-of-type{
        border-right: 1px solid black;
    }

    nav li a{
        width: 100%;
        text-align: center;
    }

nav li a:link{ 
    text-decoration: none;
    color: #dddddd;
}

nav li a:visited{ 
    /* text-decoration: none; */
    color:#dddddd;
}

nav li:hover{
    background-color: white;
    /* width: 30%; */
    transition: 0.4s;
}

nav li:hover a{
    font-weight: bolder;
    font-size: 110%;
    color : #15574a;

}

.content
{
    display: none;
    text-align: justify;
    animation: fadeOut 0.5s;
}

.content:target
{
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn{
    0% {opacity: 0; word-spacing: 35px;}
    100% {opacity: 1; word-spacing: normal;}
}

@keyframes fadeOut {
    0% {opacity: 1; word-spacing: normal;}    
    100% {opacity: 0; word-spacing: 35px;}
}